@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Inter", sans-serif;
  background: #000000 !important;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* navbar styling */

.navbar-container {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: fixed;
  top: 0;
}

.logo-container {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 2rem;
}

.logo{
  font-weight: 300;
  font-size: 30px;
  /* letter-spacing: .1rem; */
}

.menu-container {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 2rem;
}



.menu-container ul {
  width: 70vw;
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 2rem;
  padding-right: 4rem;
  font-size: 15px;
  font-weight: 100;
}


/* hero-section-styling */

.hero-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-image: url('assets/hero-grad.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2rem;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
}

.upper-section{
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2rem
}

.lower-section{
  height: 35vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 2.5rem;
}

.hero-text {
  color: #fff;
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: -0.5rem;
}

.quote{
    font-size: 20px;
    margin-top: -40px;
    margin-left: 20px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 20px;
}

.hero-subline {
  width: 40rem;
  font-size: 18px;
  font-weight: 200;
  margin-left: 20px;
}


.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #bf1828;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  margin-top: -10px;
  margin-left: 10px;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 600;
  overflow: hidden;
  padding: .5rem 1.1rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}



/* explore page */

.explore-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    background: #bf1828;
    padding-right: 2rem;
}


.explore-text{
    font-size: 9rem;
    color: #fff;
    font-weight: 400;
    /* font-family: "Antonio", sans-serif; */
}

.explore-text:nth-child(2){
    /* color: gold; */
}

